<style>


#main div.fullPageCarousel, div.w760 div.fullPageCarousel {
   margin: 0 0 20px 0;
   width: 612px;
   height:256px;
}
div.fullPageCarousel div.fullPageCarousel-carousel,
div.fullPageCarousel div.fullPageCarousel-carousel{
width:100%;
/*width:612px;

height:256px;
*/
}

div.fullPageCarousel div.fullPageCarousel-shadow{
display:block;
}

.otpp-cws-layout-col-2-and-3-main.otpp-cws-content h3, .otpp-cws-layout-col-2-and-3-main.otpp-cws-content h3, body.html-editor .otpp-cws-layout-col-2-and-3-main h3, .otpp-cws-layout-col-2-and-3-main.otpp-cws-content div.portlet-boundary header.portlet-topper h3, body.html-editor .otpp-cws-layout-col-2-and-3-main div.portlet-boundary header.portlet-topper h3{
color:#d50032;	
}
.coords-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0) url(http://otpp-dev2.bruze.com/documents/10179/64174/investmens_carousel_overlay.png/995c2e61-3550-4e84-8b9e-da0fa8c2452e?t=1457382497887) no-repeat right top;
    width: 100%;
    height: 256px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0);
}
.location2 {
    -webkit-transform: translate(-50px,30px);
    transform: translate(-50px,30px);
    transition: .5s easein;
}

div.fullPageCarousel div.fullPageCarousel-carousel ol li{
width:612px;
height:256px;
}
div.fullPageCarousel div.fullPageCarousel-details {
    left: 40px;
    width: 220px;
    min-height: 237px;
}
div.fullPageCarousel div.fullPageCarousel-details {
    position: absolute;
    top: 43px;
    right: 40px;
    width: 270px;
    min-height: 237px;
   
    z-index: 3;
    background: url("/images/nav-sprite.png") no-repeat -491px bottom;
}
.fullPageCarousel-details hr,
.fullPageCarousel-details hr{
    color: #d50032;
    border: 0;
    height: 1px;
    background: #ffffff;
    background-image: none;
    width: 40%;
    margin-left: 15px;
    clear: both;
}
 div.fullPageCarousel div.fullPageCarousel-details a.buttonBlue, div.w960 div.fullPageCarousel div.fullPageCarousel-details a.buttonYellow {
	display:block;
    float: left;
    margin: 9px 16px 0 0;
    margin-left:16px;
}
div.fullPageCarousel div.fullPageCarousel-details .content{
float:left;
clear:both;
display:block;
}
div.fullPageCarousel div.fullPageCarousel-details *{
float:left;
}
div.fullPageCarousel div.fullPageCarousel-details div.button{
margin-top:0;
}
div.fullPageCarousel ol.fullPageCarousel-dots {
    right: 14px !important;
	top:226px !important;
}
div.fullPageCarousel div.fullPageCarousel-details  .coordinateText {
    display: block;
    position: absolute;
    z-index: 3;
    top: -40px;
    right: -190px;
    font-size: 8px;
	color:#fff;
	min-width:90px;
	background-color:transparent;
	font-size:8px;	
}
.wurfl-mobile div.fullPageCarousel, div.w760 div.fullPageCarousel {
    margin: 0 0 20px 0;
    width: 100%;

}
.wurfl-mobile .coords-overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0) url(http://otpp-dev2.bruze.com/documents/10179/64174/investmens_carousel_overlay.png/995c2e61-3550-4e84-8b9e-da0fa8c2452e?t=1457382497887) no-repeat right top;
    width: 100%;
    height: 256px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0);
	background-size:100%;
}
.wurfl-mobile .div.fullPageCarousel div.fullPageCarousel-details{
	overflow:hidden;
}
.wurfl-mobile div.fullPageCarousel ol.fullPageCarousel-dots {
    right: 14px !important;
	
}
.wurfl-mobile div.fullPageCarousel div.fullPageCarousel-details  .coordinateText {
    display: block;
    position: absolute;
    z-index: 3;
    top: -120px;
    right: 50px;
    font-size: 8px;
	color:#fff;
	min-width:90px;
	background-color:transparent;
	font-size:8px;	
}
html.wurfl-mobile div.fullPageCarousel div.fullPageCarousel-carousel ol li {
    height: 135px;
    
}

</style>
<!--/* ---------------------------- END CAROUSEL CODE --------------------------------- */-->

<div class="fullPageCarousel">

	<input id="fullPageCarouselTimer" type="hidden" value="3">
    	<div class="red-O-overlay"><!--//--></div>
	<div class="crosshair">
	    <div class="coordinateText"><!--//--></div>
	    <div class="vertical"><!--//--></div>
	    <div class="horizontal"><!--//--></div>
	    <div class="diamond"><!--//--></div>
	</div>
	<ol class="fullPageCarousel-dots">
		<li class="selected"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
	</ol>
	<div class="fullPageCarousel-carousel">
		<ol>
			<li>
				<img src="/images/london_investments.jpg" width="100%" height="100%" alt="">
				<h1>We've grown! Now we have an office in Hong Kong!</h1>

				<div>
					<p>
	Nam tyriis id mut.&nbsp; Illiadum hom ersantus effereantium nut num neetliam.</p>
				</div>
				<div class="button"><a href="385" class="buttonBlue" title="Learn more"><span>Learn more</span></a></div>
				

<!--<div class="coordinateText location2">+22.2783&deg; N, -114.1747&deg; E</div>-->
			</li>
			
                       
			<li>
				<img src="/images/hk_investments.jpg" width="100%" height="100%" alt="">
				<h1>Bibendum nunc est London</h1>

				<div>
					<p>
	Verdi Giesseppioii magnolatum verdus sanctus het net needham</p>
				</div>
				<div class="button"><a href="385" class="buttonBlue" title="Learn more"><span>Learn more</span></a></div>
				

<!--<div class="coordinateText location2">+51.5072&deg; N, -0.1275&deg; W</div>-->
			</li>
			
                       
		</ol>

	</div>
	<div class="fullPageCarousel-details">
		<h1>We've grown! Now we have an office in Hong Kong!</h1>
                <hr>
		<div>
			<p>Nam tyriis id mut.&nbsp; Illiadum hom ersantus effereantium nut num neetliam.</p>
		</div>
		<div class="button"><a href="385" class="buttonBlue" title="Learn more"><span>Learn more</span></a></div>
<!--<div class="coordinateText">+22.2783&deg; N, -114.1747&deg; E</div>-->
	</div>
</div>
			
				
			
			
		
	






