
<div class="fullPageCarousel">

	<input id="fullPageCarouselTimer" type="hidden" value="3">
    	<div class="red-O-overlay"><!--//--></div>
	<div class="crosshair">
		<div class="coordinateText"><!--//--></div> 
		<div class="vertical"><!--//--></div>
		<div class="horizontal"><!--//--></div>
		<div class="diamond"><!--//--> </div>
  <!-- 		<div class="diamond coordinateText">--><!--//--><!--</div>-->
	</div>
	<ol class="fullPageCarousel-dots">
		<li class="selected"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
	</ol>
	<div class="fullPageCarousel-carousel">
		<ol>
			<li>
				<img src="/images/london_investments.jpg" width="100%" height="100%" alt="">
				<h1>We've grown! Now we have an office in Hong Kong!</h1>

				<div>
					<p>
	Nam tyriis id mut.&nbsp; Illiadum hom ersantus effereantium nut num neetliam.</p>
				</div>
				<div class="button"><a href="385" class="buttonBlue" title="Learn more"><span>Learn more</span></a></div>
				


			</li>
			
                       
			<li>
				<img src="/images/hk_investments.jpg" width="100%" height="100%" alt="">
				<h1>Bibendum nunc est London</h1>
				<div><hr></div>
				<div>
					<p>
	Verdi Giesseppioii magnolatum verdus sanctus het net needham</p>
				</div>
				<div class="button"><a href="385" class="buttonBlue" title="Learn more"><span>Learn more</span></a></div>
				


			</li>
			
                       
		</ol>

	</div>
	<div class="fullPageCarousel-details">
		<h1>We've grown! Now we have an office in Hong Kong!</h1>
                <div>
                	<hr>
                </div>
		<div>
			<p>Nam tyriis id mut.&nbsp; Illiadum hom ersantus effereantium nut num neetliam.</p>
		</div>
		<div class="button"><a href="385" class="buttonBlue" title="Learn more"><span>Learn more</span></a></div>

	</div>
</div>
			
				
			
			
		
	






