
<div id="image-wrapper">
	<img src="{{ site.baseurl }}/images/hk_investments.jpg" title="Cityview">
	<div class="crosshair">
	  <div class="coordinateText"></div><div class="diamond">♦</div>
	</div>
	<script>
	
		$(".crosshair").click(function(e){
			var coordinatedSpeed = '.7s';
			var position = $(".crosshair").offset();
			  var cx = position.left;
			  var cy = position.top;	
			  var x = e.pageX - this.offsetLeft;
			  var y = e.pageY - this.offsetTop;
			  	console.log('x'+ x +' & ' + y);
				console.log("cx = " + cx  +"& cy = " + cy +"!");
				var coordinateX = x - cx;
				var coordinateY = y - cy;
			  $(".crosshair").css({
			  backgroundPosition:coordinateX + "px  " + coordinateY + "px",
			 'transition':coordinatedSpeed,
			'-webkit-transition':coordinatedSpeed
		 });
		 	var coordinateText = "" + x +" .000° N," + y +  ".000° E";
			$(".crosshair .coordinateText").html(coordinateText);
			$(".crosshair .coordinateText").css({
				'transition':coordinatedSpeed,
				'-webkit-transition':coordinatedSpeed,
				position:'absolute',
				left:'20px',
				top:'-28px',
				transform:'translate(' + coordinateX +'px,' + coordinateY + 'px)'
				
				
				
			});
			$(".crosshair .diamond").css({
					transform: 'translate(' + coordinateX +'px,' + coordinateY + 'px)',
					'-webkit-transition': coordinatedSpeed,
					'transition':coordinatedSpeed
				
			})
		
		}); 

	</script>
</div>

