
<div id="image-wrapper">
	<img src="{{ site.baseurl }}/images/any-map-image-red.jpg" title="Cityview">
	<div class="css-crosshair">
		<div class="coordinateText"><!--//--></div>
		<div class="diamond"><!--//--></div>
	</div>
</div>	
	<script>
	
		$(".css-crosshair").click(function(e){
			var coordinatedSpeed = '.7s';
			var position = $(".css-crosshair").offset();
			  var cx = position.left;
			  var cy = position.top;	
			  var x = e.pageX - this.offsetLeft;
			  var y = e.pageY - this.offsetTop;
			  	console.log('x'+ x +' & ' + y);
				console.log("cx = " + cx  +"& cy = " + cy +"!");
				var coordinateX = x - cx;
				var coordinateY = y - cy;
			  $("#image-wrapper, .css-crosshair").css({
			  backgroundPosition:coordinateX + "px  " + coordinateY + "px",
			 'transition':coordinatedSpeed,
			'-webkit-transition':coordinatedSpeed
		 });
		 	var coordinateText = "" + x +" .000° N," + y +  ".000° E";
			$(".css-crosshair .coordinateText").html(coordinateText);
			$(".css-crosshair .coordinateText, .diamond").css({
				'transition':coordinatedSpeed,
				'-webkit-transition':coordinatedSpeed,
				position:'absolute',
				left:'20px',
				top:'-28px',
				transform:'translate(' + coordinateX +'px,' + coordinateY + 'px)'
				
				
				
			});
			$(".css-crosshair .diamond").css({
					transform: 'translate(' + coordinateX +'px,' + coordinateY + 'px)',
					'-webkit-transition': coordinatedSpeed,
					'transition':coordinatedSpeed,
					marginTop:0,
					marginLeft:0,
					top:'-4px',
					left:'-4px'
				
			})
		
		}); 

	</script>
</div>

