
<div id="image-wrapper">
	<img src="{{ site.baseurl }}/images/hk_investments.jpg" title="Cityview">
	<div class="crosshair">
	
	</div>
	<script>
	
		$(".crosshair").click(function(e){
			  var cx = $(".crosshair").offsetLeft;
			  var cy = $(".crosshair").offsetTop;	
			  var x = e.pageX - this.offsetLeft;
			  var y = e.pageY - this.offsetTop;
			  	console.log('x'+ x +' & ' + y);
				condole.log("cx = " + cx  +"& cy = " + cy +"!");
			  $('.crosshair').css({
			  'background-position': '0 ' + (y - cy) + ',' + (x - cx) + ' 0' 
		 });

		
		}); 

	</script>
</div>

