
<div id="image-wrapper">
	<img src="{{ site.baseurl }}/images/hk_investments.jpg" title="Cityview">
	<div class="crosshair">
	  <div class="coordinateText"></div>
	</div>
	<script>
	
		$(".crosshair").click(function(e){
			var position = $(".crosshair").offset();
			  var cx = position.left;
			  var cy = position.top;	
			  var x = e.pageX - this.offsetLeft;
			  var y = e.pageY - this.offsetTop;
			  	console.log('x'+ x +' & ' + y);
				console.log("cx = " + cx  +"& cy = " + cy +"!");
				var coordinateX = x - cx;
				var coordinateY = y - cy;
			  $(".crosshair").css({
			  backgroundPosition:coordinateX + "px " + coordinateY + "px"
		 });
		 	var coordinateText = "" + x +"," + y;
			$(".crosshair .coordinateText").html(coordinateText);
		
		}); 

	</script>
</div>

