
/* begins additional carousel code */
#main div.fullPageCarousel, div.w760 div.fullPageCarousel {
   margin: 0 0 20px 0;
   width: 612px;
   height:256px;
}
div.fullPageCarousel div.fullPageCarousel-carousel,
div.fullPageCarousel div.fullPageCarousel-carousel{
width:100%;
/*width:612px;

height:256px;
*/
}

div.fullPageCarousel div.fullPageCarousel-shadow{
display:block;

}

h3{
color:#d50032;	
}
.coords-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0) url(http://otpp-dev2.bruze.com/documents/10179/64174/investmens_carousel_overlay.png/995c2e61-3550-4e84-8b9e-da0fa8c2452e?t=1457382497887) no-repeat right top;
    width: 100%;
    height: 256px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0);
}
.location2 {
    -webkit-transform: translate(-50px,30px);
    transform: translate(-50px,30px);
    transition: .5s easein;
}

div.fullPageCarousel div.fullPageCarousel-carousel ol li{
width:612px;
height:256px;
}
div.fullPageCarousel div.fullPageCarousel-details {
    left: 40px;
    width: 220px;
    min-height: 237px;
}
div.fullPageCarousel div.fullPageCarousel-details {
    position: absolute;
    top: 43px;
    right: 40px;
    width: 270px;
    min-height: 237px;
   
    z-index: 3;
    background: url("/images/nav-sprite.png") no-repeat -491px bottom;
}
.fullPageCarousel-details hr,
.fullPageCarousel-details hr{
    color: #d50032;
    border: 0;
    height: 1px;
    background: #ffffff;
    background-image: none;
    width: 40%;
    margin-left: 15px;
    clear: both;
}
 div.fullPageCarousel div.fullPageCarousel-details a.buttonBlue, div.w960 div.fullPageCarousel div.fullPageCarousel-details a.buttonYellow {
	display:block;
    float: left;
    margin: 9px 16px 0 0;
    margin-left:16px;
}
div.fullPageCarousel div.fullPageCarousel-details .content{
float:left;
clear:both;
display:block;
}
div.fullPageCarousel div.fullPageCarousel-details *{
float:left;
}
div.fullPageCarousel div.fullPageCarousel-details div.button{
margin-top:0;
}
div.fullPageCarousel ol.fullPageCarousel-dots {
    right: 14px !important;
	top:226px !important;
}
div.fullPageCarousel div.fullPageCarousel-details  .coordinateText {
    display: block;
    position: absolute;
    z-index: 3;
    top: -40px;
    right: -190px;
    font-size: 8px;
	color:#fff;
	min-width:90px;
	background-color:transparent;
	font-size:8px;	
}
.wurfl-mobile div.fullPageCarousel, div.w760 div.fullPageCarousel {
    margin: 0 0 20px 0;
    width: 100%;

}
.wurfl-mobile .coords-overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0) url(http://otpp-dev2.bruze.com/documents/10179/64174/investmens_carousel_overlay.png/995c2e61-3550-4e84-8b9e-da0fa8c2452e?t=1457382497887) no-repeat right top;
    width: 100%;
    height: 256px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0);
	background-size:100%;
}
.wurfl-mobile .div.fullPageCarousel div.fullPageCarousel-details{
	overflow:hidden;
}
.wurfl-mobile div.fullPageCarousel ol.fullPageCarousel-dots {
    right: 14px !important;
	
}
.wurfl-mobile div.fullPageCarousel div.fullPageCarousel-details  .coordinateText {
    display: block;
    position: absolute;
    z-index: 3;
    top: -120px;
    right: 50px;
    font-size: 8px;
	color:#fff;
	min-width:90px;
	background-color:transparent;
	font-size:8px;	
}
html.wurfl-mobile div.fullPageCarousel div.fullPageCarousel-carousel ol li {
    height: 135px;
    
}
 a.buttonBlue {
  float: left;
  padding: 0 26px 0 0;
  white-space: nowrap;
  height: 35px;
  font-size: 1em;
  line-height: 1em;
  text-decoration: none !important;
  background: url('/images/otpp_general_sprite.png?v=2015-10-26') no-repeat right -370px;
}
a.buttonBlue span {
  display: block;
  padding: 0 8px 0 16px;
  height: 35px;
  line-height: 26px;
  cursor: pointer;
  background: url('/images/otpp_general_sprite.png?v=2015-10-26') no-repeat -930px -290px;
  color: #ffffff;
  text-shadow: 1px 1px 0 rgba(0, 39, 66, 0.3);
}
a.buttonBlue:focus {
  text-decoration: none !important;
  background-position: right -410px;
}
a.buttonBlue:focus span {
  color: #ffffff;
  text-shadow: 1px 1px 0 rgba(0, 39, 66, 0.3);
  background-position: -930px -330px;
}
/*  end carousel code here  */
