
div.fullPageCarousel {
  position: relative;
  z-index: 3;
  overflow: hidden;
}

html.wurfl-mobile div.fullPageCarousel {
  margin: -12px auto 12px auto;
  width: 320px;
  height: auto;
}
@media screen and (orientation: landscape) and (min-width: 360px) {
  div.fullPageCarousel {
    /* Android */
  
  }
  html.wurfl-mobile div.fullPageCarousel {
    width: 480px;
  }
  html.wurfl-mobile div.fullPageCarousel .red-O-overlay {
    background-position: 280px -250px;
  }
}
div.fullPageCarousel div.fullPageCarousel-shadow {
  position: absolute;
  top: 0;
  z-index: 2;
  overflow: hidden;
}

html.wurfl-mobile div.fullPageCarousel div.fullPageCarousel-shadow {
  display: none;
}
div.fullPageCarousel div.fullPageCarousel-details {
  position: absolute;
  top: 43px;
  right: 40px;
  width: 270px;
  min-height: 237px;
  overflow: hidden;
  z-index: 3;
  background: url('/images/nav-sprite.png?v=2015-10-26') no-repeat -491px bottom;
}

html.wurfl-mobile div.fullPageCarousel div.fullPageCarousel-details {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 25px;
  width: 100%;
  min-height: 0;
  background: #ffffff;
}
div.fullPageCarousel div.fullPageCarousel-details h1 {
  font-size: 1.0em;
  color: #ffffff;
}

html.wurfl-mobile div.fullPageCarousel div.fullPageCarousel-details h1 {
  color: #004786;
}

div.fullPageCarousel div.fullPageCarousel-details div p {
  font-size: 0.80em;
  color: #ffffff;
}




div.fullPageCarousel .red-O-overlay {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  right: 0;
  background-image: url(/images/red-O-overlay.png?v=2015-10-26);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 70%;
  z-index: 4;
}
.wurfl-mobile div.fullPageCarousel .red-O-overlay {
  background-image: url(/images/red-O-overlay.png?v=2015-10-26);
  
  background-position: 200px -170px;
  background-size: 100%;
  left: 0;
}
.wurfl-mobile.landscape div.fullPageCarousel .red-O-overlay {
  background-position: 280px -250px;
  background-size: 70%;
  left: 0;
}
html.lt-ie9 div.fullPageCarousel .red-O-overlay {
  background-image: url(/images/red-O-overlay.png?v=2015-10-26);
}
div.fullPageCarousel ol.fullPageCarousel-dots {
  position: absolute;
  top: 11px !important;
  overflow: hidden;
  z-index: 4;
}
div.w960 div.fullPageCarousel ol.fullPageCarousel-dots {
  right: 35px !important;
}
div.w760 div.fullPageCarousel ol.fullPageCarousel-dots {
  right: 49px !important;
}
html.wurfl-mobile div.fullPageCarousel ol.fullPageCarousel-dots {
  right: 11px !important;
}
div.fullPageCarousel ol.fullPageCarousel-dots li {
  float: left;
  width: 21px;
  height: 21px;
  list-style-type: none;
}
html.wurfl-mobile div.fullPageCarousel ol.fullPageCarousel-dots li {
  width: 26px;
  height: 26px;
}
div.fullPageCarousel ol.fullPageCarousel-dots li a {
  display: block;
  width: 21px;
  height: 0;
  padding-top: 21px;
  overflow: hidden;
  background: url('/images/nav-sprite.png?v=2015-10-26') no-repeat scroll -6px -260px;
}
html.wurfl-mobile div.fullPageCarousel ol.fullPageCarousel-dots li a {
  width: 26px;
  padding-top: 26px;
  background-position: -36px -260px;
}
div.fullPageCarousel ol.fullPageCarousel-dots li.selected a {
  background-position: -6px -290px;
}
html.wurfl-mobile div.fullPageCarousel ol.fullPageCarousel-dots li.selected a {
  background-position: -36px -290px;
}
div.fullPageCarousel ol.fullPageCarousel-dots li a:hover {
  background-position: -71px -290px;
}
html.wurfl-mobile div.fullPageCarousel ol.fullPageCarousel-dots li a:hover {
  background-position: -101px -290px;
}
div.fullPageCarousel div.fullPageCarousel-carousel {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
div.w960 div.fullPageCarousel div.fullPageCarousel-carousel {
  height: 280px;
  width: 816px;
}
div.w760 div.fullPageCarousel div.fullPageCarousel-carousel {
  height: 226px;
  width: 658px;
}
div.fullPageCarousel div.fullPageCarousel-carousel ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

div.fullPageCarousel div.fullPageCarousel-carousel ol li {
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

html.wurfl-mobile div.fullPageCarousel div.fullPageCarousel-carousel ol li {
  height: 110px;
  width: 320px;
}
@media screen and (orientation: landscape) and (min-width: 360px) {
  div.fullPageCarousel div.fullPageCarousel-carousel ol li {
    /* Android */
  
  }
  html.wurfl-mobile div.fullPageCarousel div.fullPageCarousel-carousel ol li {
    height: 165px;
    width: 480px;
  }
}
div.fullPageCarousel div.fullPageCarousel-carousel ol li * {
  margin: 20px;
  z-index: 0;
}
div.fullPageCarousel div.fullPageCarousel-carousel ol li img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1;
}
